h1 {
    font-weight: bold;
    align-content: left;
}
h2 {
    font-weight: bold;
    float: center;
}
navigationbar {
    width: 100%;
    background-color: black;
    color: white;
}
body {
   background-color: white; 
}